input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
.subscribe input:focus {
  outline: none;
}

.subscribe-btn {
  background-color: white;
  color: black;
  border: 0;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 15px;
  border-bottom: 2px solid black;
}
.subscribe-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
