/* The side navigation menu */
.sidebar {
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: calc(100vh - 202px);
  overflow: auto;
}

/* Sidebar links */
.sidebar a,
.logout-btn {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover {
  font-weight: 700;
  color: black;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a,
  .logout-btn {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a,
  .logout-btn {
    text-align: center;
    float: none;
  }
}
